/* ==========================================================================
   Forms
   ========================================================================== */

input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
textarea {
  appearance: none;
  background: $white;
  border: 1px solid #c8cccc;
  border-radius: .17rem;
  color: #364141;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1;
  margin-top: .5rem;
  margin-bottom: 2rem;
  outline: 0;
  padding: .5rem;
  position: relative;
  transition: border .2s,color .2s,background .2s,box-shadow .1s;
  width: 100%;

  &:hover,
  &:focus {
    border-color: $green-default;
  }
}

.form {
  background: white;
  border-radius: .17rem;   
  max-width: 600px;
  padding: 2rem;
  width: 100%;

  @media (min-width: 48em)  {
    padding: 3rem;
  }
}