/* ==========================================================================
   Tables
   ========================================================================== */

.table {
  border-collapse: collapse;
  border: 1px solid #eee;
  border-spacing: 5rem;
  font-size: 1rem;
  margin: 0 auto;
  margin-top: 1rem;
  max-width: 600px;
  table-layout: fixed;
  width: 100%;

  th {
    text-align: left;
    padding: 1rem 1.5rem;
  }

  td {
    padding: 1rem 1.5rem;

    &:last-child {
      text-align: right;
    }
  }
}

.table--striped {
  tr:nth-child(odd) {
    background: #f5f5f5;
  }
}

.table__row {
  border-bottom: 1px solid $light-gray;
  padding: 1rem;
}

.table__label {
  font-weight: 600;
}