
/* ==========================================================================
   Grid
   ========================================================================== */

#react {
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 1.5rem 0;
  width: 90%;
}

.grid {
  display: flex;
}

/* Alignment per row */

.grid--hcenter {
  justify-content: center;
}