
/* ==========================================================================
   Section Styles
   ========================================================================== */

.section {
  background: $dark-gray;
  padding: 3rem;
  justify-content: center;
}

.section--light {
  background: $light-gray;
  padding: 5rem 0;
}

.section--padding {
  padding-top: 2rem;
  padding-bottom: 5rem;
  text-align: center;
}

.gradient {
  background: #466368;
  background: radial-gradient(#648880, #293f50);
  min-height: 100vh;
}
