/* ==========================================================================
   Colors
   ========================================================================== */
$green-default: #59cb59;
$green-dark: #2bb656;
$gray: #b0b8b7;
$gray-hover: #929a9b;
$light-gray: #F3F4F4; 
$dark-gray: #364141;
$white: white;


/* ==========================================================================
   Base Styles
   ========================================================================== */

* {
  box-sizing: border-box ;
}

body {
  background: $white;
  color: $dark-gray;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}