/* ==========================================================================
   Typography
   ========================================================================== */

.header {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 1.5rem;
  margin-top: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
  text-align: center;
}

.header--light {
  color: $white;
}

.header__highlight {
  background: $light-gray;
  border-radius: .17rem;
  border: 4px dashed $green-default;
  box-sizing: border-box;
  color: $green-dark;
  margin: 0 auto;
  max-width: 100%;
  padding: 1.5rem;
  text-align: center;
  width: 400px;
}

.header__hightlight-title {
  font-size: 2rem;
  padding-bottom: 0;
  margin-bottom: 0;
}

.sub-header {
  align-items: center;
  display: flex;
  display: inline-block;
  font-size: 1.2rem;
  justify-content: center;
}

.subtitle {
  font-size: 1.2rem;
  padding-bottom: 1em;
  text-align: center;
}