/* ==========================================================================
   Buttons
   ========================================================================== */

.button {
  border: 1px solid transparent;
  border-radius: .17rem;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .1rem;
  line-height: 1;
  margin: .11rem auto;
  max-width: 300px;
  min-width: 8.33rem;
  outline: 0;
  padding: .84rem 1.94rem .72rem;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;
  transition: background-color .15s,border-color .15s,color 75ms ease-out,box-shadow .15s;
  vertical-align: middle;
  width: calc(100% - 20px);

  @media (min-width: 24em)  {
    width: 100%;
  }
}

.button__primary {
  background-color: $green-default;
  color: $white;

  &:hover {
    background-color: $green-dark;
    border-color: transparent;
  }
}

.button__secondary {
  background-color: transparent;
  border-color: $gray;
  color: $gray;

  &:hover {
    background-color: transparent;
    border-color: $gray-hover;
    color: $gray-hover;
  }
}
