/* ==========================================================================
   Graphic Elements
   ========================================================================== */

.logo {
  display: block;
  margin: 0 auto;    
}   

.circle {
  background-color: $green-default;
  border-radius: 1000px;
  display: none; 
  height: 40px;
  margin-right: 1rem;
  width: 40px;

  @media (min-width: 48rem)  {
    display: inline-block;
  }
}

.circle__content {
  align-items: center;
  color: white;
  display: flex;
  font-size: 1.5rem;
  height: 100%;
  justify-content: center;
}